.container{
  width: 900px;
  margin: auto;
  color: white;
}

.container h1 {
  text-shadow: 1px 1px grey;
}

.container > p {
  text-shadow: 1px 1px grey;
}

.container a{
  color: white;
  padding: 15px;
  background-color: green;
  border-radius: 4px;
}
